# Camera IP / Host
CAMERA_HOST=change-me

# ONVIF connection
CAMERA_ONVIF_PORT=80
CAMERA_ONVIF_TIMEOUT=10

# Username / Password
CAMERA_USERNAME=change-me
CAMERA_PASSWORD=change-me

# RTSP stream path
CAMERA_RTSP_PORT=554
CAMERA_RTSP_PATH=/11
